<table class="min-w-full table-auto border-collapse">
  <thead>
    <tr>
      <th class="text-left px-4 py-2">Patient ID</th>
      <th class="text-left px-4 py-2">Name</th>
      <th class="text-left px-4 py-2">Email</th>
      <th class="text-left px-4 py-2">Phone</th>
      <th class="text-left px-4 py-2">Blood Group</th>
      <th class="text-left px-4 py-2 w-1">Action</th> <!-- Action column for buttons -->
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td class="px-4 py-2"><%= patient.id %></td>
        <td class="px-4 py-2"><%= patient.name %></td>
        <td class="px-4 py-2"><%= patient.email %></td>
        <td class="px-4 py-2"><%= patient.phone %></td>
        <td class="px-4 py-2"><%= patient.blood_group %></td>
        <td class="px-4 py-2 border-none text-sm flex items-center gap-2">
          <%= link_to edit_patient_path(patient), class: "text-blue-500 hover:text-blue-700" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-pen-line-icon lucide-file-pen-line"><path d="m18 5-2.414-2.414A2 2 0 0 0 14.172 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2"/><path d="M21.378 12.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/><path d="M8 18h1"/></svg>
          <% end %>
          <%= link_to patient_path(patient), class: "text-gray-600 hover:text-gray-800", data: { action: "click->patients#showDetail" } do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-view-icon lucide-view"><path d="M21 17v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-2"/><path d="M21 7V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2"/><circle cx="12" cy="12" r="1"/><path d="M18.944 12.33a1 1 0 0 0 0-.66 7.5 7.5 0 0 0-13.888 0 1 1 0 0 0 0 .66 7.5 7.5 0 0 0 13.888 0"/></svg>
          <% end %>
          <%= link_to patient_path(patient), method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500 hover:text-red-700" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/></svg>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
